project-1 
population Statistic
population DataFrames
population Pyramids
Animated Population Pyramids
Population Maps

Data
Using wbdata

for data: year, people/males/females, world/region/country

In [36]:

import wbdata
import numpy as np
import pandas as pd 


def population(year = '2017',people='FE',age_range = '7579',country = 'WLD'):
    """ this function takes country,year age_range,people:'FE','MA','TO'
    returns the population of peopel who live in the country in the year with age 
    between the age_range
    """
    variable = 'SP.POP.'+age_range+'.'+people
    variable_labels = {variable: "Population"}
    dat = wbdata.get_dataframe(variable_labels, country)
    #get the dataframe from world bank.
    dat.index = dat.index.astype(int)
    year = int(year)
    #convert the type into int
    count = dat.at[year,'Population']
    return count

64948440.0

In [8]:
population(year='2017', people = 'FE',age_range = '7579', country = 'CHN')
## this function will return the female population in China 2017 with the age range 75-70

12870257.0

In [37]:
population(year='2016', people = 'MA',age_range = '1519', country = 'WLD')
# it will return the male population with age between 15-19 in world in 2016

306249453.0

In [55]:

import pandas as pd
def pop_data(year = ['2016','2017'], country = ['WLD']):
    """this function take year which may be a list and one country
    the output is a dataframe, which is indexed by country and year
    with columns providing the different age-sex group"""
    
    age_range = ['0004','0509','1014','1519',
                 '2024','2529','3034','3539',
                 '4044','4549','5054','5559',
                 '6064','6569','7074','7579',
                 '80UP']
    def get_year_pop(year,country):
        pop_FE = [population(year = year, people = 'FE',age_range = i, country=country) for i in age_range]
        pop_MA = [population(year = year, people = 'MA',age_range = i, country=country) for i in age_range]
        # list comprehension
        pop_dat = pop_FE+pop_MA
        return pop_dat

    col_name = [i+'FE' for i in age_range] + [i+'MA' for i in age_range]
    dat = pd.DataFrame(columns = col_name,
                       index = [country*len(year),year])
    
    for country_i in country:
        for year_i in year:
            dat.loc[country_i, year_i] = get_year_pop(year_i,country_i)
    # replace the value by row
    return dat

In [56]:
pop_data(year = ['2016','2017'],country = ['WLD'])
# it will return a sex-age population dataframe from world in both 2016 and 2017

             0004FE     0509FE     1014FE     1519FE     2024FE     2529FE  \
WLD 2016  325948095  313401086  297513705  286801705  288725344  299141212
    2017  326937386  316063452  300382891  287858778  287109865  297839524

             3034FE     3539FE     4044FE     4549FE    ...        3539MA  \
WLD 2016  277329697  249389789  239886740  228535031    ...     255721917
    2017  283727043  253526812  240343273  231150172    ...     259847867

             4044MA     4549MA     5054MA     5559MA     6064MA     6569MA  \
WLD 2016  245598208  231062337  205279529  171361554  146002874  107749126
    2017  245830428  233993742  209768271  176179378  148381780  113285604

            7074MA    7579MA    80UPMA
WLD 2016  73451684  51528907  51079885
    2017  76136197  52021968  53547881

[2 rows x 34 columns]